Repository worgarside/addon-yas-209-bridge, pull requests merged in 2023-04, with the labels that each got.

#3 Add bridge addon files
  .github/workflows/publish_release.yml
  .github/workflows/python_unit_tests.yml
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/settings.json
  addon_yas_209_bridge/Dockerfile
  addon_yas_209_bridge/__init__.py
  addon_yas_209_bridge/bridge/main.py
  addon_yas_209_bridge/bridge/requirements.txt
  addon_yas_209_bridge/config.yaml
  addon_yas_209_bridge/docker-compose.yml
  addon_yas_209_bridge/icon.png
  addon_yas_209_bridge/logo.png
  addon_yas_209_bridge/run.sh
  poetry.lock
  pyproject.toml
Labels: enhancement, github-actions, keep-updated, minor, python

#4 Update GitHub Action files
  .github/workflows/actionlint.yml
  .github/workflows/build_and_publish.yml
  .github/workflows/draft_release.yaml
  .github/workflows/manage_pr_labels.yml
  .github/workflows/publish_release.yml
Labels: enhancement, github-actions, keep-updated, patch

#6 Add missing YAML file for HA
  repository.yaml
Labels: enhancement, patch

#7 Fix GHA perms for auto-deleting banches
  .github/workflows/delete_pr_branch.yml
  .github/workflows/manage_pr_labels.yml
Labels: bug, github-actions, keep-updated

#9 Update directory to match slug
  yas_209_bridge/Dockerfile
  yas_209_bridge/bridge/main.py
  yas_209_bridge/bridge/requirements.txt
  yas_209_bridge/config.yaml
  yas_209_bridge/docker-compose.yml
  yas_209_bridge/icon.png
  yas_209_bridge/logo.png
  yas_209_bridge/run.sh
Labels: bug, keep-updated, patch

#11 Add version number validation
  .github/workflows/draft_release.yaml
Labels: enhancement, github-actions, non-functional

#12 Change SFTP key param to literal string
  yas_209_bridge/bridge/main.py
  yas_209_bridge/config.yaml
Labels: enhancement, keep-updated, major, python

#14 Bump `wg-utilities` to `3.1.1
  poetry.lock
  pyproject.toml
Labels: enhancement, keep-updated, patch

#16 Actually bump `wg-utilities` for addon
  yas_209_bridge/bridge/requirements.txt
Labels: enhancement, keep-updated, patch

#20 🔄 synced file(s) with worgarside/github-config-files
  .github/CODEOWNERS
  .github/labeler.yml
  .github/repo_labels.yml
  .github/workflows/auto_create_pr.yml
  .github/workflows/delete_pr_branch.yml
  .github/workflows/dependabot_auto_merge.yml
  .github/workflows/manage_pr_labels.yml
  .github/workflows/manage_repo_labels.yml
  .github/workflows/run_sonarcloud_scan.yml
  .github/workflows/set_pr_auto_merge.yml
  .gitignore
Labels: github-actions, keep-updated, sync

#22 Add SonarCloud config
  .vscode/addon-yas-209-bridge.code-workspace
  sonar-project.properties
Labels: keep-updated, non-functional, chore

#23 Only delete branches with `worgarside-dev`
  .github/workflows/delete_pr_branch.yml
Labels: github-actions, keep-updated, sync

#24 Fix branch deleter permissions
  .github/workflows/delete_pr_branch.yml
Labels: github-actions, keep-updated, sync

#25 Remove `homeassistant.local` branch
  .github/labeler.yml
  .github/workflows/delete_pr_branch.yml
  .github/workflows/manage_pr_labels.yml
  .github/workflows/run_sonarcloud_scan.yml
Labels: github-actions, keep-updated, sync

#26 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/pr_autoupdate.yml
Labels: github-actions, keep-updated, sync

#27 Add release-specific auto-merging behaviour
  .github/workflows/set_pr_auto_merge.yml
Labels: github-actions, keep-updated, sync
